<div class="container">
  <div class="quotes-container">
    <div *ngFor="let quote of quotes" class="quote-wrap">
      <div class="quote">
        <div class="standard">
          {{ quote }}
        </div>
        <div class="hover" (click)="onDelete(quote)">
          X
        </div>
      </div>
    </div>
  </div>

  <div class="add-quote quote-wrap">
    <form (submit)="onSubmit($event)">
      <input type="text" placeholder="Quote" name="newQuote" [(ngModel)]="newQuote">
      <input type="submit" value="+">
    </form>
  </div>
</div>